/* About */
.hero-overlay {
  background: linear-gradient(to bottom, #ffffff, #dd0f0f);
  opacity: 0.7; 
}

.red-bg {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #df4243;
  bottom: -25px;
  right: -1px;
  z-index: 0;
  border-radius: 12px;
}

.main-img {
  position: relative;
  z-index: 2;
}

.small-img {
  position: absolute;
  width: 55%;
  bottom: -40px;
  left: -40px;
  z-index: 3;
}

